registry=http://npm.dev.wixpress.com
always-auth=true
email=builduser@wix.com
_auth=aWdhbGg6QVA5eG51Y21mMVNzOVRKcHVTU003ekJZVXdQ
cache-max=60
//registry.npmjs.org/:_authToken=d2f63aa7-c7d9-46cf-8362-26cfba20fc05
@wix:registry=https://registry.npmjs.org/
@google-cloud:registry=https://registry.npmjs.org/
progress=false
//npmccd.wixpress.com/:_authToken="4lqYtG9snByH3yMQc7NVJ/EgvZXSVlI2n5DviQUXQ3lO6pjuXEFldSeCIO+9FmQs9YBW4mwBx3aZFpb2STS0Ow=="
//npmccd.wixpress.com/:strict-ssl=false
@types:registry=https://registry.npmjs.org/
@hocs:registry=https://registry.npmjs.org/
@slack:registry=https://registry.npmjs.org/
@ryancavanaugh:registry=https://registry.npmjs.org/
@sarunas:registry=https://registry.npmjs.org/
@serverless-chrome:registry=https://registry.npmjs.org/
@gql2ts:registry=https://registry.npmjs.org/
