registry=http://npm.dev.wixpress.com
always-auth=true
email=builduser@wix.com
_auth=aWdhbGg6QVA5eG51Y21mMVNzOVRKcHVTU003ekJZVXdQ
cache-max=60
//registry.npmjs.org/:_authToken=5e308444-3a69-47ac-89e3-653631e7306b
progress=false
//npmccd.wixpress.com/:_authToken=4lqYtG9snByH3yMQc7NVJ/EgvZXSVlI2n5DviQUXQ3lO6pjuXEFldSeCIO+9FmQs9YBW4mwBx3aZFpb2STS0Ow==
//npmccd.wixpress.com/:strict-ssl=false
